<h1>Transparent Calculator Result</h1>
<p>Find me in app/views/calculations/show.html.erb</p>

<p>
  Equation:
  <%= @calculation.equation %>
</p>

<p>
  Solution:
  <%= @calculation.solution %>
</p>

Step by step execution tree

<% if @calculation.tree.present? && @calculation.tree["steps"].present? %>
  <% @calculation.tree["steps"].each do |step| %>
    <li><%= step %></li>
  <% end %>
<% elsif @calculation.tree.present? && @calculation.tree["error"].present? %>
  Error: <%= @calculation.tree["error"] %>
<% else %>
  No steps recorded.
<% end %>

<br>

<%= link_to "Calculate another equation", root_path %>
